*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
background-color: #548687;
text-align: center;

}
.container{
    height: 55vh;
    display: flex;
    justify-content: center;
   margin-top: 2.2rem; 
   text-align: center;
 
}
.game{
    height: 60vmin;
    width: 60vmin;
    
    display: flex;
    flex-wrap: wrap;
    gap: 1.2vmin;
    justify-content: center;
    text-align: center;
}
.box{
    height: 18vmin;
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(0,0,0,0.9);
   font-size: 8vmin;
   color: #b0413e;
   background-color: #ffffc7;
   
}
#reset-btn{
    padding: 2.5vmin;
    font-size: 2vmin;
    font-weight: bold;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    margin-top: .5rem;
}
#new-btn{
     padding: 2.5vmin;
    font-size: 2vmin;
    font-weight: bold;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;


}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.hide{
    display: none;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

.score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* font-size: 3rem; */
    /* gap: 2rem; */
}
 p{
    font-size: 2rem;

 }
 @media screen and (max-width:570px){
h1{
    margin-top: 2rem;
}
.container{
    height:40vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.game{
    height: 40vmin;
    width: 60vmin;
    /* margin: 0 auto; */
    /* border: 3px solid red ; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    text-align: center;
    
}
#reset-btn{
    padding: 2.5vmin;
    font-size: 4vmin;
    font-weight: bold;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    margin-top: .5rem;
}
#msg{
    font-size: 2rem;
    margin-top: 1rem;
}
#new-btn{
    padding: 2.5vmin;
    font-size: 4vmin;
    margin-top: .5rem;
}

 } 
    
 
